.login-content {
  margin: auto;
  display: flex;  
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  background-color: #f1f1f1;
  padding: 1rem 2rem 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

@media screen and (max-width: 599px) {
  .login-content {
    width: 80%;
    max-width: unset;
  }
}

@media screen and (max-width: 399px) {
  .login-content {
    width: 70%;
    max-width: unset;
  }
}