
.input-container {
  display: flex;
  flex-direction: column;
}
input {
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 1rem 0 0.5rem 0;
}

input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.3);
}
